:root {
    --full-screen: calc(100vh);
}
body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(19, 56, 88); */
}
body .section:nth-child(even) {
    background-color: #282c34;
}

body .section:nth-child(odd) {
    background-color: #c678dd;
}


.satisfy {
    font-family: 'Satisfy', cursive;
}

.dotme {
    /* font-family: 'Roboto', sans-serif; */
    color: cornflowerblue;
}

.custom-navbar {
    background-color: #fbf0ff;
    border-radius: 2px 2px 6px 6px;
    position: fixed;
    top: 0;
}

#title {
    height: var(--full-screen);
    background-color: #282c34;
}
.text-1dark {
    color: #282c34;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }