html {
	min-height: 100%;
	background-image: url('https://ik.imagekit.io/uhs4ijaug6/clarisse-meyer-xXiKQ2AavlY-unsplash_vg_D6cyBaMF.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#navbar {
	opacity: 1;
}

div.row {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

body {
	background: transparent;
}

.nav-item :hover {
	background-color: rgb(218, 157, 65);
	border-radius: 10%;
}
